<h1>Stupid Coaching</h1>
<form action="/answer">
  <div class="form-group">
    <label for="question">Ask your question</label>
    <input type="text" name="question" class="form-control" id="question">
  </div>
  <button type="submit" class="btn btn-primary">Ask Coach</button>
</form>
